<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find eurobot_nav)/launch/X2L.launch" />
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" >
	    <param name="port" value="/dev/ttyACM0"/>
	    <param name="baud" value="57600" />
    </node>


    <node name="odom_tf" pkg="eurobot_nav" type="odom_calculate.py" output="screen" />
</launch>
